<h1>Article</h1>
<div><%= link_to "View", @article %></div>
<%= form_for @article do |f| %>
  <%= f.hidden_field :id %>

  <div>
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>

  <div>
    <%= f.label :headline %>
    <%= f.text_field :headline %>
  </div>

  <div>
    <%= f.label :subheadline %>
    <%= f.text_field :subheadline %>
  </div>

  <div>
    <%= f.label :contributors %>
    <%= f.text_area :contributors %>
  </div>

  <div>
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.label :state %>
    <%= f.select :state, state_options, { include_blank: false } %>
  </div>

  <div>
    <%= f.fields_for :article_image_associations do |ff| %>
      <div>
        <%= ff.hidden_field :image_id %>
        <%= image_tag ff.object.image.link, width: '64' %>
        <%= ff.label :position %>
        <%= ff.text_field :position %>
        <span><%= ff.check_box :_destroy %><%= ff.label :_destroy, "Remove" %></span>
      </div>
    <% end %>
    <div id="add-by-slug"></div>
    <div id="added-stuff">
      <div class="blank" style="display: none">
      <%= fields_for Image.new do |gg| %>
        <%= gg.file_field :link %>
        <%= gg.text_field :slug %>
      <% end %>
      </div>
    </div>
    <div id='article-image-add'>
      <span class="upload">Upload</span> / 
      <span class="addBySlug">Add By Slug</span>
    </div>
  </div>

  <%= f.submit f.object.new_record? ? "Create" : "Update" %>
<% end %>

<%= javascript_include_tag "article_images.js" %>